html , body{
    margin: 0;
    height: 100%;
    color: grey;

}
.img1{
    background-image: url('nature1.jpg');
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.img1, .img2, .img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 51, 0);
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase;




}
  .textbx{
 background: black;
 color: aliceblue;

  }
  .text-section{
 padding: 50px 80px;
 text-align: center;
 background-color: white;
 color:black;



  }
  .img2{
    background-image: url('nature2.jpg');
    height: 400px;}

    .text-sea{
        padding: 50px 80px;
        text-align: center;
        color: white;
        background-color: black;
    }
    .img3{
        background-image: url('nature3.jpg');
        height: 400px;
    }
    .text-forest{
        padding: 50px 80px;
        text-align: center;
        color: white;
        background-color: gray;

    }
    h2{
        text-transform: uppercase;
    }
    .text-end{
        padding: 50px 80px;
        text-align: center;
        background-color:#34495E;
        color:#F08080 ;
    }